.back {
    background-image: url("assets/wp2225973.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {

    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {

    position: relative;
    width: 42.25vw;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.65));
    margin-bottom: 80px;

}

.button {
    cursor: pointer;
    color: #FFF;
    font-family: Cinzel;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;



    position: relative;
    width: 29.79vw;
    height: 9.54vh;
    border-radius: 75.781px;
    border: 2.05px solid #FFF;
    background: #000;
    transition: 0.4s;
    margin-bottom: 20px;
}

.button:hover {
    width: 34.79vw;
    background: #FFF;
    color: #000;
    border: 2.05px solid #000;
    transition: 0.4s;

}

input:invalid,
textarea:invalid {
    outline: none;
    /* Remove the default outline */
}

.tarea {

    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding-left: 5.03vw;
    padding-right: 5.03vw;
    padding-top: 10.03vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    /* Firefox */
    box-sizing: border-box;
    position: relative;

    color: white;
    width: 69.38vw;
    height: 36.20vh;
    flex-shrink: 0;
    border-radius: 40px;
    background: #141414;
    box-shadow: 0px 0px 54px 0px rgba(255, 255, 255, 0.45);
    resize: none;
}

.tarea::-webkit-scrollbar {
    display: none;
}



.main-center {
    padding-top: 30px;
    position: absolute;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;

}


.stone_back {
    background-image: url("assets/stone_texture.jpg");

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

.the_centerer {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter_container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20vh;
    width: 80vw;
    /* height: 50vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #000;
    overflow-y: scroll;
    background: #000;
    box-shadow: 0px 4px 74px 90px rgba(0, 0, 0, 0.95);
    gap: 5px 0px;
}

.sq_image{
    width: 100px;
    height: 100px;
    margin: 0px;
}

/* ------------------------- fog -------------------------- */



.fogwrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
    filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}

#foglayer_01,
#foglayer_02,
#foglayer_03 {
    height: 100%;
    position: absolute;
    width: 200%;
}

#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
    float: left;
    height: 100%;
    width: 50%;
}

#foglayer_01 {
    -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_02,
#foglayer_03 {
    -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
    'size: cover' || 'size: 100%'; results remain the same
    'attachment: scroll' can be added or removed; results remain the same
    'attachment: fixed' causing unexpected results in Chrome
    'repeat-x' || 'no-repeat'; results remain the same
  */
#foglayer_01 .image01,
#foglayer_01 .image02 {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}

#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@-moz-keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@-o-keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@-moz-keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@-o-keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
    0% {
        opacity: .8
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@-moz-keyframes foglayer_03_opacity {
    0% {
        opacity: .8
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@-o-keyframes foglayer_03_opacity {
    0% {
        opacity: .8
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@keyframes foglayer_03_opacity {
    0% {
        opacity: .8;
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@-moz-keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@-o-keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

    #foglayer_01 .image01,
    #foglayer_01 .image02,
    #foglayer_02 .image01,
    #foglayer_02 .image02,
    #foglayer_03 .image01,
    #foglayer_03 .image02 {
        width: 100%;
    }
}